<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex's Page</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  
<body>
<div>
<header>
<h1>Alex's Page</h1>
</header>

<h2>From The Man Himself</h2>

<p>
  Hi, my name is Alex Fiodorov and I am a junior majoring in computer science. I grew up in Miami, but I've lived in Memphis for a while.
</p>
<h2>Cool things I like:</h2>
<ul>
  <li>Listening to alternative/heavy metal</li>
  <li>"Postmodern" novels</li>
  <li>Italian food</li>
</ul>
</div>
</body>